# docker
Dockerfile
Dockerfiles/
docker-compose.yml

# git
.git
.gitignore

# make
Makefile

# python
**/*.pyc
**/__pycache__
.cache
.coverage*
.python-version
*.in

# OSX
.DS_Store

# Sublime
*.sublime-*

# Visual Studio Code
.vscode

# Project specific
